<button (click)="qwerty()">check user</button>
<div class="component-container">
  <div class="register-card">
    <form [formGroup]="authForm">
      <mat-form-field appearance="fill">
        <mat-label for="email">Enter your email</mat-label>
        <input
          matInput
          placeholder="pat@example.com"
          formControlName="email"
          required
        />
        <mat-error *ngIf="!email.valid && email.touched">{{
          getErrorMessage()
        }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Enter your password</mat-label>
        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          formControlName="password"
          required
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>
    </form>
    <button mat-raised-button color="primary" (click)="signInButtonClick()">
      Sign in
    </button>
    <button mat-button (click)="registrateButtonClick()">
      Or register if you don't have an account
    </button>
    <button mat-stroked-button color="primary">Forgot password</button>
  </div>
</div>
