<div class="component-container">
  <div class="register-card">
    <div class="example-container">
      <mat-form-field appearance="fill">
        <mat-label>Enter your email</mat-label>
        <input
          matInput
          placeholder="pat@example.com"
          [formControl]="emailValidation"
          required
        />
        <mat-error *ngIf="emailValidation.invalid">{{
          getErrorMessage()
        }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Enter your password</mat-label>
        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          [(ngModel)]="password"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <button mat-raised-button color="primary" (click)="signInButtonClicked()">
      Sign in
    </button>
    <button mat-button (click)="registrateButtonClick()">
      Or register if you don't have an account
    </button>
    <button mat-stroked-button color="primary">Forgot password</button>
  </div>
</div>
