<ng-container *ngIf="isLoading | async">
  <mat-spinner></mat-spinner>
</ng-container>
<div class="component-container">
  <div class="register-card">
    <form [formGroup]="authForm">
      <mat-form-field appearance="fill">
        <mat-label for="email"
          ><span>{{ "auth.labels.email" | translate }}</span></mat-label
        >
        <input
          matInput
          placeholder="pat@example.com"
          formControlName="email"
          required
        />
        <mat-error *ngIf="!email.valid && email.touched">{{
          getErrorMessage()
        }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>{{ "auth.labels.password" | translate }}</mat-label>
        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          formControlName="password"
          required
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>
    </form>
    <button mat-raised-button color="primary" (click)="signInButtonClick()">
      <span>{{ "auth.buttons.signIn" | translate }}</span>
    </button>
    <button mat-button (click)="registrateButtonClick()">
      <span>{{ "auth.buttons.logIn" | translate }}</span>
    </button>
    <button mat-stroked-button color="primary">
      <span>{{ "auth.buttons.forgotPassword" | translate }}</span>
    </button>
  </div>
</div>
